// Large screens
@media only screen and (min-width: 64.063em)

    .header
        height: 100%

    #sobre:before
    #increvase:before
    #local:before
    #agenda:before
    #patrocinadores:before
    #palestrantes:before
        display: block
        content: " "
        margin-top: -navheight
        height: navheight
        visibility: hidden
