/*! index.css */

// being used
color1 = rgb(217, 0, 0)
color2 = rgb(180, 180, 180)
color3 = rgb(4, 49, 77)
color4 = rgb(11, 137, 217)

navheight = 4em

html
body
    height: 100%
    margin: 0
    padding: 0
    width: 100%

body
    font-family: 'Exo 2', sans-serif;

section
    padding: 1em 0
    text-align: center

    h1
        margin-bottom: 1.5em

    p
        line-height: 1.5em
        margin: 1em auto
        text-align: justify
        width: 800px

    button
        background: color4
        border: 0
        color: white
        font-size: 14pt
        font-weight: 500
        margin: 2em auto 1em
        outline: 0
        padding: 1em 2em

        &:hover
        &:active
            background: color3

    .row
        display: block
        margin: 0 auto
        width: 800px

        for num in (1..10)

            .span{num}
                box-sizing: border-box
                display: inline-block
                margin: 0 8px
                overflow: hidden
                vertical-align: middle
                width: ((72 * num) - 16)px

                img
                    border-radius: 50%
                    max-width: 160px
                    width: 100%

                p
                    font-size: 10pt
                    width: 100%

    &.header
        background-color: white
        box-sizing: border-box
        color: color1
        font-size: 16pt
        overflow: hidden
        padding-bottom: 7em

        .header-content
            padding-top: 2em

            .logo
                margin: 0 auto

            h1
                font-family: 'Open Sans', sans-serif
                font-size: 70pt
                font-style: italic
                font-weight: 300
                line-height: 2em
                margin: 0 auto
                vertical-align: middle

                span
                    font-weight: 700
                    margin-right: 20px

            h2
                color: color1
                font-weight: 100
                font-size: 24pt
                margin: -0.8em auto 4em

            button
                background: color1
                border: 0
                box-shadow: 0.4em 0.4em color2
                color: white
                font-size: 18pt
                font-weight: 700
                margin: -0.2em 0 0 -0.2em
                outline: 0
                padding: 1em 2em

                &:active
                    box-shadow: 0.2em 0.2em color2
                    margin: 0

        nav
            background-color: color1
            bottom: 0
            color: white
            font-size: 16pt
            font-weight: 100
            height: navheight
            left: 0
            line-height: navheight
            position: absolute
            vertical-align: middle
            width: 100%
            z-index: 9999

            &.fixed
                position: fixed
                top: 0

            .nav-content
                display: inline-block

                a
                    color: white
                    cursor: pointer
                    display: inline-block
                    padding: 0 2em
                    text-decoration: none
                    font-size: 14pt

                    &:hover
                        text-decoration: underline

    &.patrocinadores
        p
            text-align: center

            .patrocinador-1
                margin: 30px 20px
                vertical-align: middle
                max-height: 300px
                max-width: 300px

            .patrocinador-2
                margin: 30px 50px
                vertical-align: middle
                max-height: 150px
                max-width: 150px

    &.apoio
        p
            text-align: center

            img
                margin: 30px 50px
                vertical-align: middle
                max-height: 150px
                max-width: 150px

    &.agenda
    &.inscrevase
        p
            text-align: center

    #map
        height: 500px
        width: 100%

    .endereco
        background-color: white
        left: 50%
        margin-top: -450px
        position: absolute
        width: 300px
        z-index: 100

        address
            font-size: 10pt;
            font-style: normal;
            line-height: 1.5em
            padding: 30px
            text-align: left

    &.comissao
        box-sizing: border-box
        line-height: 43px
        padding: 1em 10% 3em
        text-align: left

        h1
            text-align: center
            margin-bottom: 1.5em

        span
            background-color: color1
            color: white
            margin-right 5px
            padding: 10px 20px
            white-space: nowrap
            font-size: 10pt
