// Small screens
@media only screen and (max-width: 40em)

    navheight = 2em

    section
        padding: 1em 0

        h1
            font-size: 20pt
            margin-bottom: 0.5em

        p
            box-sizing: border-box
            font-size: 10pt
            padding: 0 2em
            width: 100%

        button
            font-size: 12pt
            font-weight: 500
            margin: 2em auto 0
            padding: 0.8em 1.5em

        .row
            margin-top: 2em
            width: 100%

            for num in (1..10)

                .span{num}
                    display: block
                    margin: 0 auto
                    width: 100% !important

                    img
                        max-width: 120px

        &.header
            padding-bottom: 2em

            .header-content
                padding-top: 1em

                h1
                    font-size: 42pt
                    line-height: 2em

                h2
                    font-size: 14pt
                    margin: -0.8em auto 4em

                button
                    box-shadow: 0.3em 0.3em color2
                    font-size: 12pt
                    margin: -0.2em 0 0 -0.2em
                    padding: 0.8em 1.5em

                    &:active
                        box-shadow: 0.2em 0.2em color2
                        margin: 0

            nav
                display: none

        &.palestrantes
            .row
                display: table

                .span2
                    display: table-header-group

                .span8
                    display: table-footer-group

        &.patrocinadores
            p
                img
                    margin: 30px 20px
                    max-height: 200px
                    max-width: 200px

        &.apoio
            p
                img
                    margin: 30px 50px
                    vertical-align: middle
                    max-height: 100px
                    max-width: 100px

        #map
            display: none

        .endereco
            background-color: white
            margin-top: 0
            padding: 0
            position: relative
            left: 0
            margin: 0 auto
            width: 100%
            z-index: 100
