// Medium screens
@media only screen and (min-width: 40.063em) and (max-width: 64em)

    navheight = 2em

    section
        padding: 1em 0

        h1
            font-size: 20pt
            margin-bottom: 1em

        p
            box-sizing: border-box
            font-size: 10pt
            padding: 0 2em
            width: 100%
            max-width: 800px

        button
            font-size: 14pt
            font-weight: 500
            margin: 2em auto 1em
            padding: 1em 2em

        .row
            max-width: 800px
            width: auto

            for num in (1..10)

                .span{num}
                    margin: 0 1%
                    width: ((8 * num) - 2)%

        &.header
            padding-bottom: 2em

            .header-content
                padding-top: 1em

                .logo
                    display: none

                h1
                    font-size: 60pt
                    line-height: 2em

                h2
                    font-size: 20pt
                    margin: -0.8em auto 4em

                button
                    box-shadow: 0.4em 0.4em color2
                    font-size: 16pt
                    margin: -0.2em 0 0 -0.2em
                    padding: 1em 2em

                    &:active
                        box-shadow: 0.2em 0.2em color2
                        margin: 0

            nav
                display: none

        &.patrocinadores
            p
                img
                    margin: 30px 20px
                    max-height: 200px
                    max-width: 200px

        &.apoio
            p
                img
                    margin: 30px 50px
                    vertical-align: middle
                    max-height: 100px
                    max-width: 100px
